


<footer id="footer">
    <div id="footer_sns">
        <div class="container">
            <div class="footer_sns">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="tel">
                    <a href="#">TEL. <em>17171771</em></a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer_info">
        <div class="container">
            <div class="row">
                <div class="footer_info">
                    <h2><img src="/images/footer_logo.png" alt="hotthink"></h2>
                    <ul>
                        <li><a href="footer/producer">제작과정</a></li>
                        <li><a href="footer/policy">이용약관</a></li>
                        <li><a href="footer/operation">운영정책</a></li>
                        <li><a href="footer/faq">자주묻는질문</a></li>
                        <li><a href="https://1-7171771.tistory.com/">Cilck</a></li>

                    </ul>
                    <address>
                        <p>
                            서울특별시 구로구 오류2동 연동로 320
                            <br>
                            <span class="bar">대표자명 김영곤</span>
                            개인정보보호 책임자 정형일
                        </p>
                        <p>Copyright 2020 by HotThink Corp. All right reserves</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>
