<!-- Footer -->
<footer class="page-footer font-small blue-glay lighten-5">

    <div style="background-color: #ffD9EC">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">HOT THINK : Free idea sharing service !</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic"> <i class="fab fa-facebook-f white-text mr-4">
                    </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic"> <i class="fab fa-twitter white-text mr-4">
                    </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic"> <i
                            class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic"> <i class="fab fa-linkedin-in white-text mr-4">
                    </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic"> <i class="fab fa-instagram white-text">
                    </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p> 사이트 소개 추가하기 </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">뭐넣을지</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">고민좀</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">해보고</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">넣자</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">이용약관</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">운영정책</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">FAQ</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">PRODUCER</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> SUNGKONGHOE UNIVERSITY
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> hotThink@hotthink.co.kr
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 89
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">
        © 2020 Copyright <a class="dark-grey-text" href="/"> HotThink </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->