<div class="pl-2 mt-5 position-relative myPage-sticker-container">
    <div class="row">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary myPage-sticker">홈</button>
            <button type="button" class="btn btn-info myPage-sticker">쪽지</button>
            <button type="button" class="btn btn-warning myPage-sticker" style="color: white">알림</button>
            <button type="button" class="btn btn-success myPage-sticker">팔로우</button>
            <button type="button" class="btn btn-secondary myPage-sticker">내가쓴글</button>
        </div>
        <div class="col">
            <div class="row justify-content-md-end">
                <div class="col-md-auto">
                    <a href="#" class="btn btn-primary btn-icon-split myPage-sticker">
                    <span class="icon text-white-50">
                        <i class="fas fa-user-edit"></i>
                    </span>
                        <span class="text">개인정보수정</span>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!--        <button type="button" class="btn btn-danger">Danger</button>-->
    <!--        <button type="button" class="btn btn-warning">Warning</button>-->
    <!--        <button type="button" class="btn btn-light">Light</button>-->
</div>
