<!--&lt;!&ndash; Button trigger modal&ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Launch-->
<!--    modal</button>-->

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="user_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center" style="font-weight: bold">
                <p class="heading">정말 탈퇴하시겠습니까? </p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fas fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="/user_delete" class="btn  btn-outline-danger">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->