<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbarGlobal"
     style="border-bottom: solid 2px; border-bottom-color: #f1f3f5;">

    <a class="navbar-brand font-italic ml-3" href="/home" id="navbarBrand"
       style="color: red; font-size: xx-large; font-family: Arial;">HotThink</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/read/post/free/list?page=1" style="color: royalblue; margin-left: 30px">
                    프리띵크
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/read/post/hot/list?page=1" style="color: red">
                    핫띵크
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/read/post/real/list?page=1" style="color:goldenrod">
                    리얼띵크
                </a>
            </li>

            <!--            <li class="nav-item dropdown">-->
            <!--                <a class="nav-link dropdown-toggle" href="#" id="navbarMyPage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                    마이페이지-->
            <!--                </a>-->
            <!--                <div class="dropdown-menu" aria-labelledby="navbarMyPage">-->
            <!--                    <a class="dropdown-item" href="#">개인정보수정</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">내가 쓴 글</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">팔로우</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">쪽지</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">포인트내역</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">거래내역</a>-->
            <!--                </div>-->
            <!--            </li>-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSupport" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    고객지원
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSupport">
                    <a class="dropdown-item" href="/read/post/qna/list?page=1">QNA</a>
                    <a class="dropdown-item" href="#">머넣지</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>

    {{#userNick}}
    <i id="alarmBell" class="far fa-bell mr-3" style="font-size: large" onclick="alarmBellClick()"></i>
    <!--        <i class="far fa-bell"style="font-size: larger"></i>-->
    <i id="messageBell" class="far fa-envelope" style="font-size: larger" onclick="messageClick()"></i>

    <div class="navbar-divider"></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="mr-4" style="color: gray"><i class="fas fa-user-tie mr-1"></i>{{userNick}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarSupport">
                <a class="dropdown-item" href="/user/mypage/home">마이페이지</a>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#exampleModal">
                    로그아웃
                </button>
                <!--                <a class="dropdown-item" href="#">로그아웃</a>-->
            </div>
        </li>
    </ul>

    <!--        <span class="mr-4" style="color: gray"><i class="fas fa-user-tie mr-1"></i>{{userNick}}</span>-->
    {{/userNick}}
    {{^userNick}}
    <a href="/login">
        <button type="button" class="btn btn-outline-secondary mr-4">로그인</button>
    </a>
    {{/userNick}}
</nav>

<!--    여백추가-->
<div style="height: 100px"></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">에이 설마</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                로그아웃 하실 꺼에여?????
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <a type="button" id="logoutButton" href="/logout_processing" class="btn btn-primary">확인</a>
            </div>
        </div>
    </div>
</div>
<script>
    let sse = new EventSource('http://localhost:8080/sse');
    sse.onmessage = function (evt) {
        let data = JSON.parse(evt.data)
        if (data['id'] === undefined) {
            $('#messageBell').removeClass('far')
            $('#messageBell').css("fontSize", "xx-large")
            $('#messageBell').css("color", "#36b9cc")
            $('#messageBell').addClass('fas')
        } else {
            $('#alarmBell').removeClass('far')
            $('#alarmBell').css("fontSize", "xx-large")
            $('#alarmBell').css("color", "gold")
            $('#alarmBell').addClass('fas')
        }
    };

    function alarmBellClick() {
        window.location.href = "/user/mypage/alarm"
    }

    function messageClick() {
        window.location.href = "/user/mypage/message"
    }

    // $('#logoutButton').click(function () {
    //     sse.close()
    // })

</script>
