<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbarGlobal"
     style="border-bottom: solid 2px; border-bottom-color: #f1f3f5;">

    <a class="navbar-brand font-italic ml-3" href="#" id="navbarBrand"
       style="color: red; font-size: xx-large; font-family: Arial;">HotThink</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: royalblue; margin-left: 30px">
                    프리띵크
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: red">
                    핫띵크
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" style="color:goldenrod">
                    리얼띵크
                </a>
            </li>

            <!--            <li class="nav-item dropdown">-->
            <!--                <a class="nav-link dropdown-toggle" href="#" id="navbarMyPage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                    마이페이지-->
            <!--                </a>-->
            <!--                <div class="dropdown-menu" aria-labelledby="navbarMyPage">-->
            <!--                    <a class="dropdown-item" href="#">개인정보수정</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">내가 쓴 글</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">팔로우</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">쪽지</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">포인트내역</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">거래내역</a>-->
            <!--                </div>-->
            <!--            </li>-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSupport" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    고객지원
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSupport">
                    <a class="dropdown-item" href="#">QNA</a>
                    <a class="dropdown-item" href="#">머넣지</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-secondary mr-4">로그인</button>
    </div>
</nav>

<!--    여백추가-->
<div style="height: 100px"></div>
