<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section</title>

    <meta name="description" content="Tutorial : Portfolio Flipping Slider Using jQuery & CSS3">
    <meta name="author" content="Webstuffshare">
    <link rel="stylesheet" type="text/css" href="style/article.css">
    <link rel="stylesheet" type="text/css" href="style/section.css?v=2">
    <script src="/js/modernizr.custom.34807.js"></script>

    <!--    <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="jquery.slides.min.js"></script>
        <script src="/js/superslide.2.1.js"></script>-->


</head>

<body>
<section>
    <!--   <article>
           <div class="slider">
               <div class="bd">
                   <ul>
                       <li><a target="_blank" href="http://www.htmldrive.net"><img
                               src="/icons/mainImg1.png" /></a></li>
                       <li><a target="_blank" href="http://www.htmldrive.net"><img
                               src="/icons/mainImg2.png" /></a></li>
                       <li><a target="_blank" href="http://www.htmldrive.net"><img
                               src="/icons/mainImg3.png" /></a></li>
                   </ul>
               </div>
               <div class="hd">
                   <ul>
                   </ul>
               </div>
               <div class="pnBtn prev">
                   <span class="blackBg"></span> <a class="arrow"
                                                    href="javascript:void(0)"></a>
               </div>
               <div class="pnBtn next">
                   <span class="blackBg"></span> <a class="arrow"
                                                    href="javascript:void(0)"></a>
               </div>
           </div>

           <script th:inline="javascript">
               jQuery(".slider .bd li").first().before(
                   jQuery(".slider .bd li").last());
               jQuery(".slider").hover(
                   function() {
                       jQuery(this).find(".arrow").stop(true, true)
                           .fadeIn(300)
                   }, function() {
                       jQuery(this).find(".arrow").fadeOut(300)
                   });
               jQuery(".slider").slide({
                   titCell : ".hd ul",
                   mainCell : ".bd ul",
                   effect : "leftLoop",
                   autoPlay : true,
                   vis : 3,
                   autoPage : true,
                   trigger : "click"
               });
           </script>
       </article>

       <form name="search_form" action="" method=post>
               <div id=searchBox align="center">
                   <table cellpadding=5 cellspacing=0 align="center" >
                   <tr>
                       <td><input type="text" name="search" size="100" maxlength="100" value="  검색하실 Think를 입력하시오."  onFocus="javascript:this.value=''"
                                  style="width : 1250px; height: 80px; border:0px;"></td>
                       <td><input type="submit" name="search" value="검색"
                              style="width: 200px; height: 80px; background-color: #FFFF48; border:0px;""></td>
                   </tr>
                   </table>

               </div>
       </form>

       <ThinkListAlticle>
               <div class="ThinkListInfo">
                   <div class="ThinkListFont">조회수 순위 Think List</div>
               </div>
           <div class="ThinkListInfo">
               <div class="ThinkListFont">최신 Think List</div>
           </div>
           <div class="ThinkListInfo">
               <div class="ThinkListFont">어떤 기준으로 Think List를 보여줄지 추천 받는다</div>
           </div>
           </div>
       </ThinkListAlticle>-->
<article>
    <div id="container">

        <span id="information" style="display:none">Your browser doesn't support CSS3 3D Transform</span>
        <font size="20px" face="'Nanum Gothic', sans-serif" color="black">Think List</font>

        <div id="portfolio"></div>

        <ul id="portfolio-item">
            // 조회순
            <li><img src="/icons/mainImg1.png" alt="정형일"/></li>
            <li><img src="/images/rrwooo_rrwooo_teaser.jpeg" alt="김영곤"/></li>
            <li><img src="/images/dozer_teaser.jpeg" alt="오일권"/></li>
            <li><img src="/images/ltah_teaser.jpeg" alt="정기혁"/></li>
            <li><img src="/images/pirates_teaser.jpeg" alt="정형일"/></li>
            <li><img src="/images/rustler_teaser.jpeg" alt="정형일"/></li>
            <li><img src="/images/satellite_teaser.jpeg" alt="정형일"/></li>
            <li><img src="/images/werewolf_teaser.jpeg" alt="정형일"/></li>


            // 최신순
            <li><img src="/images/box_socks_teaser.jpeg" alt="Box Socks"/></li>
            <li><img src="/images/capt_kidd_teaser.jpeg" alt="Capt Kidd"/></li>
            <li><img src="/images/bat_bedtime_teaser.jpeg" alt="Bat Bedtime"/></li>
            <li><img src="/images/grrr_teaser.jpeg" alt="Grrr"/></li>
            <li><img src="/images/eensy_teaser.jpeg" alt="Eensy"/></li>
            <li><img src="/images/derby_lady_teaser.jpeg" alt="Derby Lady"/></li>
            <li><img src="/images/carrot_teaser.jpeg" alt="Carrot"/></li>
            <li><img src="/images/brush_teaser.jpeg" alt="Brush"/></li>



            <li><img src="/images/nunatakdribbble_teaser.jpeg" alt="Nunatak"/></li>
            <li><img src="/images/reefdribbble_teaser.jpeg" alt="Reef"/></li>
            <li><img src="/images/glacier_teaser.jpeg" alt="Glacier"/></li>
            <li><img src="/images/carddribbble_teaser.jpeg" alt="Card"/></li>
            <li><img src="/images/cove_teaser.jpeg" alt="Cove"/></li>
            <li><img src="/images/canal_teaser.jpeg" alt="Canal"/></li>
            <li><img src="/images/shot_1300121080_teaser.jpeg" alt="Biome"/></li>
            <li><img src="/images/shot_1300969987_teaser.jpeg" alt="Globe"/></li>



            <li><img src="/images/bestican_teaser.jpeg" alt="Bestican"/></li>
            <li><img src="/images/bifocal_teaser.jpeg" alt="Bifocal"/></li>
            <li><img src="/images/soupsearch_teaser.jpeg" alt="Soup Search"/></li>
            <li><img src="/images/sub_teaser.jpeg" alt="Submarine"/></li>
            <li><img src="/images/tomatosoup_teaser.jpeg" alt="Tomato Soup"/></li>
            <li><img src="/images/harry_teaser.jpeg" alt="Hipster Harry"/></li>
            <li><img src="/images/for_the_man_teaser.jpeg" alt="For The Man"/></li>
            <li><img src="/images/extra_teaser.jpeg" alt="Indulgence"/></li>

        </ul>
        <nav id="navigation">
            <a href="#1" class="nav selected" data-page="1"><font size="5px" face="'Nanum Gothic', sans-serif" color="black">조회순</font></a>
            <a href="#2" class="nav" data-page="2"><font size="5px" face="'Nanum Gothic', sans-serif" color="black">최신순</font></a>
            <a href="#3" class="nav" data-page="3"><font size="5px" face="'Nanum Gothic', sans-serif" color="black">정형일</font></a>
            <a href="#4" class="nav" data-page="4"><font size="5px" face="'Nanum Gothic', sans-serif" color="black">정형일</font></a>
        </nav>

    </div>
    </div>

    <script> if (!Modernizr.csstransforms3d) document.getElementById('information').style.display = 'block'; </script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
    <script src="/js/demo.js"></script>

</article>

<article>
</article>
</section>

</body>
</html>