<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section</title>

    <link rel="stylesheet" type="text/css" href="style/article.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="jquery.slides.min.js"></script>
    <script src="/js/superslide.2.1.js"></script>
</head>

<body>
    <article>
        <div class="slider">
            <div class="bd">
                <ul>
                    <li><a target="_blank" href="http://www.htmldrive.net"><img
                            src="/icons/1.jpg" /></a></li>
                    <li><a target="_blank" href="http://www.htmldrive.net"><img
                            src="/icons/2.jpg" /></a></li>
                    <li><a target="_blank" href="http://www.htmldrive.net"><img
                            src="/icons/3.jpg" /></a></li>
                </ul>
            </div>
            <div class="hd">
                <ul>
                </ul>
            </div>
            <div class="pnBtn prev">
                <span class="blackBg"></span> <a class="arrow"
                                                 href="javascript:void(0)"></a>
            </div>
            <div class="pnBtn next">
                <span class="blackBg"></span> <a class="arrow"
                                                 href="javascript:void(0)"></a>
            </div>
        </div>

        <script th:inline="javascript">
            jQuery(".slider .bd li").first().before(
                jQuery(".slider .bd li").last());
            jQuery(".slider").hover(
                function() {
                    jQuery(this).find(".arrow").stop(true, true)
                        .fadeIn(300)
                }, function() {
                    jQuery(this).find(".arrow").fadeOut(300)
                });
            jQuery(".slider").slide({
                titCell : ".hd ul",
                mainCell : ".bd ul",
                effect : "leftLoop",
                autoPlay : true,
                vis : 3,
                autoPage : true,
                trigger : "click"
            });
        </script>
    </article>
 <section>
</section>

</body>
</html>