<script>
    $('#searchBtn').click(function () {
        window.location.href = "/read/post/hot/list?page=1&title=" + $('#searchInput').val();
    })

    if({{hasPre}}){
        $("#pre").removeAttr("disabled");
        $("#first").removeAttr("disabled");
    }else{
        $('#pre').attr("disabled", "disabled");
        $('#first').attr("disabled", "disabled");
    }

    if({{hasNext}}){
        $("#next").removeAttr("disabled");
        $("#last").removeAttr("disabled");
    }else{
        $('#next').attr("disabled", "disabled");
        $('#last').attr("disabled", "disabled");
    }

    let nowPage = {{page}}
    let pageSize = {{size}}

    var page = [$("#page1"), $("#page2"), $("#page3")];

    if (pageSize === 1) {
        page[1].remove();
        page[2].remove();
    } else if (pageSize === 2) {
        page[2].remove();
    } else if (pageSize === 0) {
        $('.pagination').remove()
    }

    var btn = [$("#page1btn"), $("#page2btn"), $("#page3btn")];

    if (nowPage === 1) {
        page[0].addClass("active");
        page[1].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(1);
        btn[1].text(2);
        btn[2].text(3);
    } else if (pageSize === 2 && nowPage === 2) {
        page[1].addClass("active");
        page[0].removeClass("active");
        btn[0].text(nowPage - 1);
        btn[1].text(nowPage);
    } else if (nowPage === pageSize) {//페이지크기2 & 페이지2 버그
        page[2].addClass("active");
        page[1].removeClass("active");
        page[0].removeClass("active");
        btn[0].text(nowPage - 2);
        btn[1].text(nowPage - 1);
        btn[2].text(nowPage);
    } else {
        page[1].addClass("active");
        page[0].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(nowPage - 1);
        btn[1].text(nowPage);
        btn[2].text(nowPage + 1);
    }

</script>
