@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');

#navbarGlobal{
    font-family: 'Nanum Gothic', sans-serif;
}

#navbarBrand{
    font-weight: bolder;
}

#navbarSupportedContent{
    font-weight: bold;
}

#navbarSupportedContent ul li{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
