@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');


.login-container {
    height: 700px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.signUp-container{
    width: 500px;
    height: 800px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 50px;
}

.signUp-body{
    flex: 1 1 auto;
    padding: 1.25rem;
    height: 720px;
}

.myPage-container{
    height: 1000px;
    font-family: 'Nanum Gothic', sans-serif;
}

.vertical-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    margin: 1rem;
}

.myPage-component{
    width: 1200px;
    height: 900px;
    background-color: whitesmoke;
    z-index: 2;
    position: absolute;
}

.mypage-inner-component{
    padding: 3rem;
    height: 100%;
}

.myPage-sticker-container{
    top: 10px;
    z-index: 1;
}

.myPage-sticker{
    color: white;
    margin-left: 2px;
    font-family: 'Nanum Gothic', sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bg-login-image {
    background-image: url("/image/login.jpg");
    background-position: center;
    background-size: cover;
}

.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}


.text-gray-100 {
    color: #f8f9fc !important;
}

.text-gray-200 {
    color: #eaecf4 !important;
}

.text-gray-300 {
    color: #dddfeb !important;
}

.text-gray-400 {
    color: #d1d3e2 !important;
}

.text-gray-500 {
    color: #b7b9cc !important;
}

.text-gray-600 {
    color: #858796 !important;
}

.text-gray-700 {
    color: #6e707e !important;
}

.text-gray-800 {
    color: #5a5c69 !important;
}

.text-gray-900 {
    color: #3a3b45 !important;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
    border-left: 0.25rem solid #858796 !important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
    border-left: 0.25rem solid #e74a3b !important;
}

.border-left-light {
    border-left: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
    border-left: 0.25rem solid #5a5c69 !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.d-none {
    display: none !important;
}


@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.custom-control-label{
    color: #868e96;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
