<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{> include/header}}
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    .hc{
        font-family: "Noto Sans KR",sans-serif;
    }
</style>
<body class="w3-light-grey">
{{> include/navBar}}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/images/hangang.jpg" style="height : 300px;width:400px; margin : 20px" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
<!--                        <h2>Jane Doe</h2>-->
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>김영곤·정형일·오일권·정기혁</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>SKHU, KR</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rlgur405@gmail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+82 10 2018 0103</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills : front-end</b></p>
                    <p>HTML/CSS/JS + mustache</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
                    </div>
                    <p></p>
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills : back-end</b></p>
                    <p>SpringBoot</p>
                    <p></p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                            <div class="w3-center w3-text-white">80%</div>
                        </div>
                    </div>
                    <p></p>
                    <p>Spring security</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                    </div>
                    <p></p>
                    <p>JPA</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                    </div>
                    <br>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills : database</b></p>
                    <p>MySQL</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
                    </div>

                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
                    Creator information</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>성공회대학교 소프트웨어공학과 / <a href="http://www.skhu.ac.kr">skhu.ac.kr</a></b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar. 2014 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p class="w3-opacity" style="margin-left: 40px">-1994.04.11 김영곤(201432003)</p>
                    <p class="w3-opacity" style="margin-left: 40px">-1994.10.10 정형일(201432031)</p>
                    <p class="w3-opacity" style="margin-left: 40px">-1995.05.28 오일권(201432025)</p>
                    <p class="w3-opacity" style="margin-left: 40px">-1995.04.05 정기혁(201432029)</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>프로젝트 진행 기간 / 소프트웨어캡스톤디자인(2020학년도 1학기)</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar. 2020 - Jul. 2020</h6>
                    <p class="w3-opacity" style="margin-left: 40px">프로젝트 1차 릴리즈 : 2020.03.18 ~ 2020.04.30</p>
                    <p class="w3-opacity" style="margin-left: 40px">프로젝트 2차 릴리즈 : 2020.05.01 ~ 2020.00.00</p>
                    <p class="w3-opacity" style="margin-left: 40px">프로젝트 3차 릴리즈 : 2020.00.00 ~ 2020.00.00</p>
                    <p class="w3-opacity" style="margin-left: 40px; font-weight: bold">프로젝트 최종 완성 및 AWS 배포 :  2020.00.00</p>
                    <p class="w3-opacity" style="margin-left: 40px; font-weight: bold"> <a href="https://docs.google.com/document/d/1r35RJR6tMddTACPa76xDw7e9RNsguc8VeQkVFd7_SQo/edit"> HotThink 프로젝트 최초 기획안</a></p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>GitHub 소스코드</b></h5>
                    <p class="w3-opacity" style="margin-left: 40px; font-weight: bold"> <a href="https://github.com/14SOF/HotThink">14SOF/HotThink</a></p>

                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>프로젝트 참고자료</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>W3Schools.com : 부트스트랩 템플릿</b></h5>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>나중에 추가 ㄱㄱ </b></h5>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>나중에 추가 ㄱㄱ</b></h5>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>나중에 추가 ㄱㄱ</b></h5>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>나중에 추가 ㄱㄱ</b></h5>
                    <hr>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<footer>
    {{> include/footer}}
</footer>

</body>
</html>
