<!DOCTYPE html>
<html lang="en">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="/style/user.css">
    <script src="/js/user_click_func.js"></script>
</head>

<body>
{{> include/navBar}}

{{#free}}
<div class="container mt-5 mb-5 shadow-lg" style="font-family: Noto Sans KR,sans-serif; width: 1000px">
    <div style="padding: 20px">
        <div class="row">
            <div class="col">
                <h1 class="display-4" style="font-weight: bolder">{{title}}</h1>
            </div>
            <div class="col-auto">
                <div>2020/04/12</div>
                <div class="text-gray-800" style="float: right"><i class="far fa-eye"></i>
                    {{hit}}
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <h3 style="width: 100%; height: 350px">
            {{content}}
        </h3>
        <div class="row justify-content-between">
            <div class="col-auto align-self-end">
                {{#userLikeStatus}}
                <button type="button" class="btn btn-danger" onclick="likeCancelPost({{id}})">
                    좋아요 취소<span class="badge badge-light ml-1">{{likeList}}</span>
                </button>
                {{/userLikeStatus}}
                {{^userLikeStatus}}
                <button type="button" class="btn btn-light" onclick="likePost({{id}})" style="border:solid 1px red">
                    <!--                    좋아요-->
                    좋아요<span class="badge badge-danger ml-1">{{likeList}}</span>
                </button>
                {{/userLikeStatus}}
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#declarationModal">신고하기</button>
            </div>
            {{#user}}
            <div class="col-auto justify-content-end">
                <a href="/user?id={{id}}" class="shadow border-left-secondary card small"
                   style="height: 100px; padding: 10px; text-decoration: none">
                    <div class="mx-auto mt-1 text-gray-500">
                        작성자
                    </div>
                    <div class="mx-auto text-gray-900">
                        <h2>{{nick}}</h2>
                    </div>
                </a>
            </div>
            {{/user}}
        </div>

        <div class="dropdown-divider"></div>

        {{#commentList}}
        <div class="row mt-1 align-items-center text-gray-700" style="border: solid 1px lightgray; padding: 5px">
            <a class="col-auto btn btn-light text-gray-700 small" href="/user?id={{user.id}}" role="button">{{user.nick}}</a>
            <div class="col">{{content}}</div>
            <div class="col-auto">
                <div>
                    <!--                <button class="btn btn-circle btn-danger btn-sm">-->
                    <!--                    <i class="fas fa-heart text-white"></i>-->
                    <!--                </button>-->
                    {{#userLikeStatus}}
                    <button class="btn btn-circle btn-light btn-sm" onclick="likeCancelComment({{id}})">
                        <i class="fas fa-heart" style="color: red"> </i>
                    </button>
                    {{/userLikeStatus}}
                    {{^userLikeStatus}}
                    <button class="btn btn-circle btn-light btn-sm" onclick="likeComment({{id}})">
                        <i class="far fa-heart" style="color: red"> </i>
                    </button>
                    {{/userLikeStatus}}
                    <span class="badge badge-warning">{{likeList}}</span>
                    {{#user.writer}}
                    <button id="deleteReplyBtn" class="btn btn-circle btn-light btn-sm" onclick="deleteComment({{id}})">
                        <i class="fas fa-trash-alt black"></i>
                    </button>
                    {{/user.writer}}
                </div>
            </div>
            <a href="#" style="float: right; font-size: 2px" role="button" onclick="commentReportCheck({{user.id}} , {{id}})">
                신고
            </a>
        </div>
        {{/commentList}}

        <div class="row mt-1">
            <div class="col-auto">
                <i class="fas fa-share pt-3" style="font-size: x-large"></i>
            </div>
            <div class="col">
                <form class="user" onsubmit="return false">
                    <div class="form-group">
                        <input class="form-control form-control-user"
                               id="InputReply"
                               placeholder="댓글을 작성해주세요!">
                    </div>
                </form>
            </div>
            <div class="col-auto">
                <button id="replyBtn" onclick="f({{id}})" type="button" class="btn btn-block" style="background-color: #f1f3f5" disabled>
                    <i class="far fa-keyboard" style="font-size: xx-large"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!--게시글 신고 Modal -->
<div class="modal fade" id="declarationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">게시글 신고</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p style="font-weight: bold">[신고] 버튼 클릭시, 정상적으로 신고가 접수되며 신고횟수 누적 시 운영진의 확인 후 삭제 및 경고 조치 될 수 있습니다.</p>
                <p style="font-weight: bold; color: red">단, 아이디어 표절(중복된 아이디어) <br/>신고시 하단의 [표절신고] 를 이용해주세요.</p>
            </div>
            <div class="modal-footer">
                <a href="/report/overlap?postId={{free.id}}"  class="myButton"  style="margin-right: 240px">표절신고</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="report({{user.id}} , {{free.id}})">신고</button>
            </div>
        </div>
    </div>
</div>
</body>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let reply = $('#InputReply');
    let replyBtn = $('#replyBtn');
    $(function () {
        reply.keyup(function () {
            if (reply.val() !== "") {
                replyBtn.removeAttr("disabled")
            } else {
                replyBtn.attr("disabled", "disabled")
            }
        })
    })

    function f(postId) {
        $.ajax(
            {
                type: "POST",
                url: "/create/comment?id=" + postId,
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify({
                    "content": reply.val()
                }),
                complete:function() {
                    window.location.href = "/read/post/free?id=" + postId
                }
            }
        )
    }

    //todo:url로 지우는거 방어해야함
    function deleteComment(commentId) {
        $.ajax(
            {
                type: "DELETE",
                url: "/delete/comment?id=" + commentId,
                complete:function() {
                    window.location.href = "/read/post/free?id=" + {{id}}
                }
            }
        )
    }

    function likePost(postId) {
        $.ajax(
            {
                type: "POST",
                url: "/create/like/post?id="+postId,
                success : function (data) {
                   location.reload();
                }
            }
        )
    }

    function likeCancelPost(postId) {
        $.ajax(
            {
                type: "DELETE",
                url: "/delete/like/post?id="+postId,
                success : function (data) {
                    location.reload();
                }
            }
        )
    }

    function likeComment(commentId) {
        $.ajax(
            {
                type: "POST",
                url: "/create/like/comment?id="+commentId,
                success : function (data) {
                    location.reload();
                }
            }
        )
    }

    function likeCancelComment(commentId) {
        $.ajax(
            {
                type: "DELETE",
                url: "/delete/like/comment?id="+commentId,
                success : function (data) {
                    location.reload();
                }
            }
        )
    }
    function report(userId,postId) {
        console.log(userId);
        console.log(postId);
        $.ajax({
            type :"POST",
            url: "/report/post",
            data : {
                "id" : userId,
                "postId" : postId
            },
            success: function (res) {
                if(res['check']) {
                    swal("신고 완료", "신고가 정상적으로 접수되었습니다.", "success");
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: '오류',
                        text: '이미 신고한 게시글입니다.',
                    })
                }

            }
        })
        $('#declarationModal').modal("hide");
    };

    function commentReportCheck(userId,commentId) {
        console.log(userId);
        console.log(commentId);
        $.ajax({
            type:"POST",
            url: "/check/comment/report",
            data : {
                "userId" : userId,
                "commentId" : commentId
            },
            success: function (res) {
                if(res['check']){
                    swal({
                        title: "Are you sure?",
                        text: "이 댓글을 신고하시겠습니까?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                type:"GET",
                                url: "/report/comment",
                                data : {
                                    "userId" : userId,
                                    "commentId" : commentId
                                }

                            })
                            swal("신고가 정상적으로 완료되었습니다.", {
                                icon: "success",
                            });
                        } else {
                            swal("cancled.");
                }
                });

                }else {
                    Swal.fire({
                        icon: 'error',
                        title: '오류',
                        text: '이미 신고한 댓글입니다.',
                    })
                }

            }
        });

    }



</script>
{{/free}}
<footer>
    {{> include/footer}}
</footer>
<style>
    .myButton {
        box-shadow:inset -9px 0px 10px -50px #f5978e;
        background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
        background-color:#f24537;
        border-radius:9px;
        border:1px solid #d02718;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:16px;
        font-weight:bold;
        padding:8px 11px;
        text-decoration:none;
        text-shadow:-2px 0px 2px #810e05;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        background-color:#c62d1f;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

</style>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--    Launch demo modal-->
<!--</button>-->




</html>
