<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="style/user.css">
</head>
<body>
{{> include/navBar}}

<div class="container shadow-lg writeForm mt-5 mb-5">
    <div style="padding: 20px">
        <form class="user" action="/post" method="post">
            <div class="form-group">
                <label classfor="InputTitle">제목</label>
                <input class="form-control form-control-user"
                       id="InputTitle" name="postTitle">
            </div>
            <div class="form-group">
                <label for="InputContents">내용</label>
                <input class="form-control" id="InputContents" rows="10"  name="postContent"
                          style="border-radius: 1rem;">
            </div>

            <div class="form-group">
                <label for="InputWarning" style="font-weight: lighter; color: red">본 내용이 다른 사용자의 이전 게시물의 내용과 일치할 시 법적조치를 당할 수 있습니다</label>
                <input class="form-control form-control-user"
                       id="InputWarning" placeholder="확인했습니다.">
            </div>

            <div class="form-group" style="float: right">
                <input type="submit" value="작성완료">
<!--                <a href="/" class="btn btn-primary btn-user">
                    작성완료
                </a>-->
            </div>
        </form>
    </div>
</div>

</body>
<footer>
    {{> include/footer}}
</footer>
</html>

