<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <script src="js/modernizr.custom.34807.js"></script>

</head>
<body>
{{>include/navBar}}

<!--slide start-->
<div id="slide">
    <input type="radio" name="pos" id="pos1" checked>
    <input type="radio" name="pos" id="pos2">
    <input type="radio" name="pos" id="pos3">

    <ul>
        <li>
                <img src="image/mainImage1.jpg">
        </li>
        <li>
                <img src="image/mainImage2.jpg">
        </li>
        <li>
                <img src="image/mainImage3.jpg">
        </li>
    </ul>

    <p class="pos">
        <label for="pos1"></label>
        <label for="pos2"></label>
        <label for="pos3"></label>
    </p>
</div>
<!--slide end-->
<div id="searchContainer">
    <input id="searchBar" type="text" placeholder="검색어입력">
    <button id="searchButton">
        <i class="fas fa-search fa-lg"></i>
        &nbsp;&nbsp;검색
    </button>
</div>
<article>

<br/><br/>

<section>
    <article>
        <div id="container">

            <div id="portfolio"></div>

            <ul id="portfolio-item">
                // 조회순
                <li><img src="/images/box_socks_teaser.jpeg" alt="정형일"/></li>
                <li><img src="/images/rrwooo_rrwooo_teaser.jpeg" alt="김영곤"/></li>
                <li><img src="/images/dozer_teaser.jpeg" alt="오일권"/></li>
                <li><img src="/images/ltah_teaser.jpeg" alt="정기혁"/></li>
                <li><img src="/images/pirates_teaser.jpeg" alt="정형일"/></li>
                <li><img src="/images/rustler_teaser.jpeg" alt="정형일"/></li>
                <li><img src="/images/satellite_teaser.jpeg" alt="정형일"/></li>
                <li><img src="/images/werewolf_teaser.jpeg" alt="정형일"/></li>


                // 최신순
                <li><img src="/images/box_socks_teaser.jpeg" alt="Box Socks"/></li>
                <li><img src="/images/capt_kidd_teaser.jpeg" alt="Capt Kidd"/></li>
                <li><img src="/images/bat_bedtime_teaser.jpeg" alt="Bat Bedtime"/></li>
                <li><img src="/images/grrr_teaser.jpeg" alt="Grrr"/></li>
                <li><img src="/images/eensy_teaser.jpeg" alt="Eensy"/></li>
                <li><img src="/images/derby_lady_teaser.jpeg" alt="Derby Lady"/></li>
                <li><img src="/images/carrot_teaser.jpeg" alt="Carrot"/></li>
                <li><img src="/images/brush_teaser.jpeg" alt="Brush"/></li>


            </ul>
            <nav id="navigation">
                <a href="#1" class="nav selected" data-page="1"><font size="5px" face="'Nanum Gothic', sans-serif"
                                                                      color="black">조회순</font></a>
                <a href="#2" class="nav" data-page="2"><font size="5px" face="'Nanum Gothic', sans-serif"
                                                             color="black">최신순</font></a>

            </nav>

        </div>

        <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
        <script> if (!Modernizr.csstransforms3d) document.getElementById('information').style.display = 'block'; </script>
        <script src="/js/demo.js"></script>
        <br/><br/>

        <hr style="border: solid 1px #BDBDBD; width: 77%; margin: 0px auto;">
    </article>

    <article>
        <!--판매완료-->
        <br/><br/>
        <div id="Exchangecomplet">
            <font size="20px" face="'Nanum Gothic', sans-serif"
                  color="black"><strong>판매완료</strong></font><br/><br/><br/>
            <ul>
                <li>
                    <p><img src="images\box_socks_teaser.jpeg" style="float:left"/><br>

                        <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                            <strong>코로나 마스크 재고 수량</strong>
                        </font><br/>
                        <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다.
                        </font>
                    </p>
                    <br style="clear:both"/>
                </li>
                <li>
                    <p><img src="images\box_socks_teaser.jpeg" style="float:left"/><br>

                        <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                            <strong>코로나 마스크 재고 수량</strong>
                        </font><br/>
                        <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다.
                        </font>
                    </p>
                    <br style="clear:both"/>
                </li>
            </ul>

            <br/>
            <hr style="border: solid 1px #BDBDBD; width: 100%; margin: 0px auto;">
            <br/><br/>

            <!--후기-->
            <font size="20px" face="'Nanum Gothic', sans-serif" color="black"><strong>후기</strong></font><br/><br/>
            <ul>
                <li>
                    <p><br>
                        <img src="images\dozer_teaser.jpeg" style="float:right"/><br/>
                        <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                            <strong>코로나 마스크 재고 수량</strong></font><br/>
                        <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다.
                        </font>
                    </p>
                    <br style="clear:both"/>
                </li>
                <li>
                    <p><br>
                        <img src="images\dozer_teaser.jpeg" style="float:right"/><br/>
                        <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                            <strong>코로나 마스크 재고 수량</strong><br/>
                        </font>
                        <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다
                            아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다. 감사합니다.아이디어 너무 좋습니다.
                        </font>
                    </p>
                    <br style="clear:both"/>
                </li>
            </ul>

        </div>

    </article>
</section>
</article>

<script>
    $('#searchButton').click(function () {
        window.location.href = "/read/post/search/list?page=1&title=" + $('#searchBar').val();
    })

</script>

</body>

<footer>
    {{>include/footer}}
</footer>
</html>
