<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="author" content="ji won">
    <meta name="description" content="아이디어 공유">
    <meta name="keywords" content="HotThink, 아이디어, 아이디어 공유">
    <title>HotThink</title>

    <!--style-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/font-awesome.css">-->
    <link rel="stylesheet" href="css/swiper.css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script type="text/javascript">
        alert("현재 당신이 보는 브라우저는 지원하지 않습니다. 크롬브라우저를 추천합니다!");
    </script>
    <![endif]-->
</head>
<body>
<!--skip menu-->
<div id="skip">
    <a rel="bookmark" href="#free_think">프리띵크</a>
    <a rel="bookmark" href="#hot_think">핫띵크</a>
    <a rel="bookmark" href="#real_think">리얼띵크</a>
    <a rel="bookmark" href="#customer_sevice">고객지원</a>
</div>
<!--//skip menu-->

<!--header-->
<header id="header">
    <div class="header clearfix">
        <div class="container">
            <div class="header_row">
                <h1>
                    <a href="/home">
                        <img src="/images/logo3.png" alt="HotThink">
                    </a>
                </h1>
                <button type="button" class="btn_gnb">메인메뉴 열기</button>
                <button type="button" class="btn_gnb">검색영역 펼치기</button>
                <div class="search_wrap">
                    <span class="ir_so">검색</span>
                    <div class="search_field">
                        <input type="text" id="searchBar" class="txt_search" title="검색어 입력" placeholder="당신의 생각을 검색해보세요!">
                        <button class="btn" type="button" id="searchButton">
                            <span>검색버튼</span>
                        </button>
                        <form>
                            <input type="hidden">
                        </form>
                    </div>
                    <button type="button" class="btn_gnb">검색영역닫기</button>
                </div>

                {{#userNick}}
                <ul class="utill_list_login">
                    <li class="user"><a href="#"><span class="user_name" style="font-size: 20px; color: #285e8e"  > {{userNick}}</span> 님</a></li>
                    <li class="util_01"><a href="/logout_processing">로그아웃</a></li>
                    <li class="util_02"><a href="/user/mypage/home">마이페이지</a></li>
                </ul>
                {{/userNick}}

                {{^userNick}}
                <ul class="utill_list">
                    <li class="util_01"><a href="/login">로그인</a></li>
                    <li class="util_02"><a href="/create/user">회원가입</a></li>
                </ul>
                {{/userNick}}


            </div>
        </div>

        <div class="row">
            <div id="pc_gnb_wrap">
                <div class="gnb_wrap">
                    <nav class="pc_gnb">
                        <ul>
                            <li><a href="/read/post/free/list?page=1">프리띵크</a></li>
                            <li><a href="/read/post/hot/list?page=1">핫띵크</a></li>
                            <li><a href="/read/post/real/list?page=1">리얼띵크</a></li>
                            <li><a href="/read/post/qna/list?page=1">Q&A</a></li>
                            <li><a href="/read/post/freeboard/list?page=1">자유게시판</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--<div id="m_gnb_wrap">
                <div class="gnb_wrap">
                    <nav class="m_gnb">
                        <div class="gnb_top">
                           <a href="#">로그인</a>
                           <a href="#">회원가입</a>
                        </div>
                        <ul>
                            <li><a href="#">프리띵크</a></li>
                            <li><a href="#">핫띵크</a></li>
                            <li><a href="#">리얼띵크</a></li>
                            <li><a href="#">고객지원</a></li>
                        </ul>
                        <button type="메인메뉴 닫기"></button>
                    </nav>
                </div>
            </div>-->
        </div>
    </div>
</header>
<!--//header-->

<!--section_01-->
<section id="section_01">
    <div class="slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide ss1"></div>
                <div class="swiper-slide ss2"></div>
            </div>
            <!--custom-->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-stop">정지</div>
        </div>
    </div>
</section>
<!--//section_01-->

<!--section_02-->
<section id="section_02">
    <div class="container">
        <div class="row">
            <div class="hotThink">
                <h2 class="ir_so">핫띵크</h2>
                <div class="hotThink_title">
                    <ul>
                        <li class="active"><a href="#">좋아요순</a></li>
                        <li><a href="#">조회순</a></li>
                        <li><a href="#">최신순</a></li>
                    </ul>
                </div>
                <div class="hotThink_chart">
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img01.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>1</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img02.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>2</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img03.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>3</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img04.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>4</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img05.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>5</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img06.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>6</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img07.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>7</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img08.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>8</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-container2">
                        <div class="chart_cont2 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img08.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>1</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img07.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>2</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img06.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>3</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img05.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>4</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img04.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>5</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img03.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>6</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img02.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>7</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img01.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>8</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-container2">
                        <div class="chart_cont3 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img05.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>1</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img04.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>2</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img03.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>3</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img02.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>4</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img01.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>5</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img08.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>6</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img07.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>7</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="repre_img">
                                    <figure>
                                        <a href="#">
                                            <img src="./images/section_02_img06.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="rank"><strong>8</strong></div>
                                </div>
                                <div class="info">
                                    <div class="info_good">
                                        <span class="good_count">100</span>
                                        <span class="unit">개</span>
                                    </div>
                                    <div class="info_hits">
                                        <span>조회수 <span class="hits_rate">1,002</span> 만회</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//section_02-->

<!--section_03-->

<!--//section_03-->
<section id="section_03">
    <div class="container">
        <div class="row">
            <div class="section_03 clearfix">
                <h2>실시간으로 <em>"HOT THINK"</em> 살펴보자!</h2>
                <article class="box_01">
                    <div class="box_cont">
                        <h3>실시간 <em>리얼띵크</em></h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <em>2020.06.11</em>
                                    <span>[질병] 코로나 마스크 재고 수량 한눈에보기</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.10</em>
                                    <span>[생활] 리모콘 위치추적하기</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.09</em>
                                    <span>[생활] 화장지워주는 기계 아이디어</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.08</em>
                                    <span>[생활] 블루투스없이 디바이스 위치추적하기</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>

                <article class="box_02">
                    <div class="box_cont">
                        <h3>실시간 <em>후기</em></h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <em>2020.06.08</em>
                                    <span>[생활] 어케 이런생각을!!!!!!!!!!!!</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.07</em>
                                    <span>[생활] 오~ 나도 이생각 해봤음ㅋㅋ</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.06</em>
                                    <span>[생활] ㅂㄱㄴ임 저거ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em>2020.06.05</em>
                                    <span>[생활] 흠...너무 간거 아닌가요?????</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--footer-->
{{> include/footer_index}}
<!--//footer-->

<!--javascript library-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/swiper.js"></script>
<script src="https://use.fontawesome.com/46112c95a4.js"></script>

<script>


    $('#searchButton').click(function () {
        window.location.href = "/read/post/search/list?page=1&title=" + $('#searchBar').val();
    })


    $(document).ready(function(){
        //상단 네비게이션바 고정
        var navoffset = $("header").offset();
        $(window).scroll(function(){
            if($(document).scrollTop() > navoffset.top){
                $("header").addClass("fixed_active");
            }else{
                $("header").removeClass("fixed_active");
            }
        });

        //메인 이미지 슬라이드
        var mySwiper = new Swiper('.swiper-container', {
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // pagination
            pagination: {
                el: '.swiper-pagination',
            },
            autoplay: {
                delay: 3000,
            },
        });

        //핫띵크 이미지 슬라이드
        var mySwiper = new Swiper('.swiper-container2', {
            slidesPerView: 4,
            spaceBetween: 24,
            //            mousewheel: {
            //                invert: true,
            //            },
            keyboard: {
                enabled: true,
                onlyInViewport: false,
            },
            //            autoplay: {
            //                delay: 6000,
            //            },
            breakpoints: {
                600: {
                    slidesPerView: 3,
                    spaceBetween: 24
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 24
                },
                960: {
                    slidesPerView: 5,
                    spaceBetween: 24
                }
            }
        });

        //핫띵크 탭 메뉴
        var hotBtn = $(".hotThink_title > ul > li");
        var hotCont = $(".hotThink_chart > div");

        hotCont.hide().eq(0).show();

        hotBtn.click(function(e){
            e.preventDefault();
            var target = $(this);
            var index = target.index();
            hotBtn.removeClass("active");
            target.addClass("active");
            hotCont.css("display","none");
            hotCont.eq(index).css("display","block");
        })
    });
</script>
</body>
</html>