<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="style/user.css">
</head>
<body>
{{> include/navBar}}
<div class="container myPage-container">
    {{> include/myPageSticker}}
    <div class="shadow-lg myPage-component">
        <div class="mypage-inner-component">
            <div class="card mb-4 py-3 border-left-info" style="height: 100%">
                <div class="card-body">
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="inbox_people">
                                <div class="headind_srch">
                                    <div class="srch_bar">
                                        <div class="row">
                                            <input type="text" class="search-bar col text-gray-300 fa-xs"
                                                   placeholder="찾기">
                                            <span class="input-group-addon col-auto">
                                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="inbox_chat">
                                    <div class="chat_list active_chat">
                                        <div class="chat_people">
                                            <div class="chat_ib">
                                                <h5>정기혁 <span class="chat_date">4월 5일</span></h5>
                                                <p>생일 축하합니다생일 축하합니다생일 축하합니다</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat_list active_chat">

                                        <div class="chat_people">
                                            <div class="chat_ib">
                                                <h5>김영곤 <span class="chat_date">4월 5일</span></h5>
                                                <p>생일 축하합니다생일 축하합니다생일 축하합니다</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mesgs">
                                <div class="msg_history">
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>생일 축하합니다생일 축하합니다생일 축하합니다</p>
                                                <span class="time_date"> 00:00 AM    |    4월 5일</span></div>
                                        </div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>Test which is a new approach to have all
                                                solutions</p>
                                            <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                    </div>
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Test, which is a new approach to have</p>
                                                <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="메세지 입력"/>
                                        <button class="msg_send_btn" type="button" style="outline: none">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> include/footer}}

</body>
</html>
