<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="style/user.css">
</head>
<body>
{{> include/navBar}}
<div class="container myPage-container">
    {{> include/myPageSticker}}

    <div class="shadow-lg myPage-component">
        <div class="mypage-inner-component">
            <div class="card mb-4 py-3 border-left-secondary" style="height: 100%">
                <div class="card-body">
                    <div class="row row-cols-2" style="height: 40%">
                        <div class="col btn">
                            <div class="card" style="height: 90%">
                                <div class="card-body">
                                    <div class="row card-title">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-primary" disabled>프리띵크</button>
                                        </div>
                                        <div class="col">제목쌰랄라라ㅏ사랴쌰라</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="row" style="height: 100%">
                                        <div class="col mt-5">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-primary">
                                                        <i class="far fa-eye text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-danger">
                                                        <i class="fas fa-thumbs-up text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-secondary">
                                                        <i class="fas fa-comment-dots text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer small text-gray-500 text-center">
                                    작성일 : 2020-04-05
                                </div>
                            </div>
                        </div>
                        <div class="col btn">
                            <div class="card" style="height: 90%">
                                <div class="card-body">
                                    <div class="row card-title">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-danger" disabled>핫띵크</button>
                                        </div>
                                        <div class="col">제목쌰랄라라ㅏ사랴쌰라</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="row" style="height: 100%">
                                        <div class="col mt-5">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-primary">
                                                        <i class="far fa-eye text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-danger">
                                                        <i class="fas fa-thumbs-up text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-secondary">
                                                        <i class="fas fa-comment-dots text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer small text-gray-500 text-center">
                                    작성일 : 2020-04-05
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row row-cols-2" style="height: 40%">
                        <div class="col btn">
                            <div class="card" style="height: 90%">
                                <div class="card-body">
                                    <div class="row card-title">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm text-white" disabled
                                                    style="background-color: goldenrod">리얼띵크
                                            </button>
                                        </div>
                                        <div class="col">제목쌰랄라라ㅏ사랴쌰라</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="row" style="height: 100%">
                                        <div class="col mt-5">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-primary">
                                                        <i class="far fa-eye text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-danger">
                                                        <i class="fas fa-thumbs-up text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-5 ml-2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="btn icon-circle bg-secondary">
                                                        <i class="fas fa-comment-dots text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col small text-gray-600 align-self-center">
                                                    99999999
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer small text-gray-500 text-center">
                                    작성일 : 2020-04-05
                                </div>
                            </div>
                        </div>

                        <div class="col">

                        </div>
                    </div>

                    <nav aria-label="..." class="mt-5">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{{> include/footer}}
</body>
</html>
