<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <link rel="stylesheet" type="text/css" href="/style/user.css">
</head>
<body>
{{> include/navbar}}
<div class="container myPage-container">
    {{> include/mypage_sticker}}

    <div class="shadow-lg myPage-component">
        <div class="mypage-inner-component">
            <div class="card mb-4 py-3 border-left-warning" style="height: 100%">
                <div class="card-body">
                    <ul id='listComponent' class="list-group" style="overflow: auto; height: 100%">
                        <button type="button" class="btn btn-primary" style="width: 100%; text-align: center" onclick="commit()">모두 읽음
                        </button>
                        <!--                        <li class="list-group-item">-->
                        <!--                            <div class="container">-->
                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-auto align-self-center">-->
                        <!--                                        <div class="btn-lg icon-circle bg-info">-->
                        <!--                                            <i class="fa fa-paper-plane text-white"></i>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col align-self-center btn">-->
                        <!--                                        <div class="row">-->
                        <!--                                            <div class="small col-2 text-gray-500 align-self-center">2020년도 4월 5일</div>-->
                        <!--                                            <div class="col align-self-center" style="font-size: large"> 메세지가 도착했습니다-->
                        <!--                                            </div>-->
                        <!--                                            <div class="col-auto">-->
                        <!--                                                <button type="button" class="btn btn-light">-->
                        <!--                                                    <i class="fas fa-times"></i>-->
                        <!--                                                </button>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <!--                        <li class="list-group-item">-->
                        <!--                            <div class="container">-->
                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-auto align-self-center">-->
                        <!--                                        <div class="btn-lg icon-circle bg-secondary">-->
                        <!--                                            <i class="fas fa-comment-dots" style="color: white"></i>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col align-self-center btn">-->
                        <!--                                        <div class="row">-->
                        <!--                                            <div class="small col-2 text-gray-500 align-self-center">2020년도 4월 5일</div>-->
                        <!--                                            <div class="col align-self-center" style="font-size: large"> 댓글이 달렸습니다</div>-->
                        <!--                                            <div class="col-auto">-->
                        <!--                                                <button type="button" class="btn btn-light">-->
                        <!--                                                    <i class="fas fa-times"></i>-->
                        <!--                                                </button>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <!--                        <li class="list-group-item">-->
                        <!--                            <div class="container">-->
                        <!--                                <div class="row">-->
                        <!--                                    <div class="col-auto align-self-center">-->
                        <!--                                        <div class="btn-lg icon-circle bg-danger">-->
                        <!--                                            <i class="fas fa-thumbs-up" style="color: white"></i>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col align-self-center btn">-->
                        <!--                                        <div class="row">-->
                        <!--                                            <div class="small col-2 text-gray-500 align-self-center">2020년도 4월 5일</div>-->
                        <!--                                            <div class="col align-self-center" style="font-size: large"> 김영곤 님이 ***글을-->
                        <!--                                                좋아합니다-->
                        <!--                                            </div>-->
                        <!--                                            <div class="col-auto">-->
                        <!--                                                <button type="button" class="btn btn-light">-->
                        <!--                                                    <i class="fas fa-times"></i>-->
                        <!--                                                </button>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    sse.onmessage = function (evt) {
        let data = JSON.parse(evt.data)
        console.log(data)
        if(data['id']!==undefined) {
            let id = data['id']
            let type = data['type']
            let content = data['content']
            $('#alarmBell').removeClass('far')
            $('#alarmBell').css("fontSize", "xx-large")
            $('#alarmBell').css("color", "gold")
            $('#alarmBell').addClass('fas')

            let icon;
            let color;
            if (type === "LikeComment" || type === "LikePost") {
                icon = "fas fa-thumbs-up"
                color = "bg-danger"
            } else if (type === "Comment") {
                content = "댓글이 달렸습니다"
                color = "bg-secondary"
                icon = "fas fa-comment-dots"
            } else {
                icon = "fa fa-paper-plane"
                content = "메시지가 도착했습니다"
                color = "bg-info"
            }

            let options = {
                year: 'numeric', month: 'numeric', day: 'numeric',
                hour: 'numeric', minute: 'numeric',
                hour12: true,
                // timeZone: 'America/Los_Angeles'
            }
            let time = new Date(data['dateTime'][0],
                data['dateTime'][1] - 1,
                data['dateTime'][2],
                data['dateTime'][3],
                data['dateTime'][4],)
            time = new Intl.DateTimeFormat('kr-KR', options).format(time)

            $('#listComponent').append("<li class=\"list-group-item\" onclick='alarmClick(" +JSON.stringify(data)+ ")'>\n" +
                "                            <div class=\"container\">\n" +
                "                                <div class=\"row\">\n" +
                "                                    <div class=\"col-auto align-self-center\">\n" +
                "                                        <div class=\"btn-lg icon-circle " + color + "\">\n" +
                "                                            <i class=\"" + icon + " text-white\"></i>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"col align-self-center btn\">\n" +
                "                                        <div class=\"row\">\n" +
                "                                            <div class=\"small col-2 text-gray-500 align-self-center\">" + time + "</div>\n" +
                "                                            <div class=\"col align-self-center\" style=\"font-size: large\">" + content + "\n" +
                "                                            </div>\n" +
                // "                                            <div class=\"col-auto\">\n" +
                // "                                                <button type=\"button\" class=\"btn btn-light\">\n" +
                // "                                                    <i class=\"fas fa-times\"></i>\n" +
                // "                                                </button>\n" +
                // "                                            </div>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </div>\n" +
                "                        </li>");
        }else{
            $('#messageBell').removeClass('far')
            $('#messageBell').css("fontSize", "xx-large")
            $('#messageBell').css("color", "#36b9cc")
            $('#messageBell').addClass('fas')
        }

    };

    function commit() {
        $.ajax(
            {
                type: "GET",
                url: "/commit-alert",
                complete: function () {
                    window.location.href = "/user/mypage/alarm";
                }
            }
        )
    }

    function alarmClick(data) {
        window.location.href="/read/post/free?id="+data['id']
    }

</script>
<footer>
    {{> include/footer}}
</footer>
</html>
