<!DOCTYPE html>
<html lang="kr">
<head>
    {{> include/header}}
    <script src="/js/user_click_func.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/user.css">
</head>
<body>
{{> include/navbar}}
<div class="container myPage-container">
    {{> include/mypage_sticker}}

    <div class="shadow-lg myPage-component">
        <div class="mypage-inner-component">
            <div class="card mb-4 py-3 border-left-success" style="height: 100%">
                <div class="card-body">
                    <div class="ml-3 container row" style="height: 100%">
                        <ul class="col list-group mr-2" style="overflow: auto; height: 100%">
                            <li class="small list-group-item text-center">내가 팔로우한 사람들</li>
                            {{#followingList}}
                            <li class="list-group-item">
                                <div class="container btn" onclick="userClick({{userFollowing.id}})">
                                    <div class="text-center align-self-center">{{userFollowing.nick}}</div>
                                </div>
                            </li>
                            {{/followingList}}
                        </ul>
                        <ul class="col list-group mr-2" style="overflow: auto; height: 100%">
                            <li class="small list-group-item text-center">나를 팔로우한 사람들</li>
                            {{#followerList}}
                            <li class="list-group-item">
                                <div class="container btn" onclick="userClick({{userFollower.id}})">
                                    <div class="text-center align-self-center">{{userFollower.nick}}</div>
                                </div>
                            </li>
                            {{/followerList}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    {{> include/footer}}
</footer>
</html>