<!DOCTYPE html>
<html lang="en">
<head>
    {{> /include/header}}
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<style>


</style>
<body>
{{> /include/navbar}}
<div class="container row">
    <div class="page-hearder col-md-offset-3" style="padding-bottom: 20px">
    </div>
<!--    <div class="col-sm-offset-9">-->
<!--        <form action="" method="get">-->
<!--            <select name="search" id="">-->
<!--                <option value="writer">작성자</option>-->
<!--                <option value="content">내용</option>-->
<!--            </select>-->
<!--            <input type="text" name="searchkeyword" id="search">-->
<!--            <input class="btn btn-sm btn-default" type="submit" value="검색">-->
<!--        </form>-->
<!--    </div>-->
    <div class="col-md-12 col-md-offset-3" style="margin-top: -80px">


        <h1 style="font-family: 'Baloo Bhai 2', cursive; ">HotThink QNA</h1><br/>
        <p style="color: #ac2925">게시판에 글을 남겨주시면 회원가입시 등록된 이메일(ID)로 답변이 전송됩니다.</p>

        <table class="table table-striped ">
            <tr class="text-center">
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회</th>
            </tr>
            {{#list}}
            <tr>
                <td><a href="#">{{title}}</a></td>
                <td>{{user.nick}}</td>
                <td>{{createDate}}</td>
                <td class="col-sm-1">10</td>
            </tr>
            {{/list}}
        </table>

    </div>
    <div class="btn-group col-md-offset-12">
        <a href="/create/post/qna" class="btn btn-md btn-default" style="margin-left: 180px; font-weight: bold">질문하기</a>
    </div>
    <div class="col-md-offset-6">
        <ul class="pagination" style="margin-left: 160px">
            <li><a href="#" id="pre" onclick=pagingPre({{page}}) >이전</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#" id="next" onclick=pagingNext({{page}})>다음</a></li>

        </ul>
    </div>
</div>


<script>
    var nowPage = {{page}}
    var pageSize = {{size}}

    if(nowPage == pageSize) {
        $('#next').click(function(e) { e.preventDefault(); });
        $("#next").css({ 'pointer-events': 'none' });
    }

    if(nowPage == 1){
        $('#pre').click(function(e) { e.preventDefault(); });
        $("#pre").css({ 'pointer-events': 'none' });
    }

    // if({{hasPre}}) { //hasPre가 true이면 , 즉 현재 페이지가 1보다 크다면?
    //     //
    // }else{
    // }
    //
    // if({{hasNext}}){
    //     $('#next').removeAttr("disabled");
    // }else {
    //     $('next').attr("disabled","disabled");
    // }


    var page = [$("#page1"), $("#page2") , $("#page3")];
    var btn = [$("#page1btn"), $("#page2btn"), $("#page3btn")];

    if(nowPage===1) {
        page[0].addClass("active");
        page[1].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(1);
        btn[1].text(2);
        btn[2].text(3);
    }else if(nowPage===pageSize){
        page[1].addClass("active");
        page[0].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(nowPage-1);
        btn[1].text(nowPage);
        btn[2].text(nowPage+1);
    }else{
        page[2].addClass("active");
        page[1].removeClass("active");
        page[0].removeClass("active");
        btn[0].text(nowPage-2);
        btn[1].text(nowPage-1);
        btn[2].text(nowPage);
    }

    if(pageSize===1){
        page[1].remove();
        page[2].remove();
    }else if(pageSize===2){
        page[2].remove();
    }else if(pageSize===0){
        $('.pagination').remove()
    }

    for(let i=0; i<3; i++){
        btn[i].click(function () {
            window.location.href = "/read/post/qna/list?page=" + btn[i].text()
        })
    }



    function pagingNext(page) {
        window.location.href = "/read/post/qna/list?page=" + (page+1);
    }

    function pagingPre(page) {
        window.location.href = "/read/post/qna/list?page=" + (page-1);
    }

</script>

</body>
<footer>
    {{> /include/footer}}
</footer>
</html>