<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="/style/qnaList.css">
    <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">

    {{> /include/header}}
</head>

<body>
{{> /include/navBar}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="./qna/show.html">마쎄 있나요?</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">2020-04-05 18:49</span>
                                <a href="./user/profile.html" class="author">김영곤</a>
                            </div>
                            <div class="reply" title="답변여부">
                                <i class="icon-reply"></i>
                                <span class="point">완료</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="./qna/show.html">안녕하세요. 정형일 입니다.</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">2020-04-05 13:12</span>
                                <a href="./user/profile.html" class="author">정형일</a>
                            </div>
                            <div class="reply" title="답변여부">
                                <i class="icon-reply"></i>
                                <span class="point">미완료</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="./qna/show.html">안녕하세요. 오일권 입니다.</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">2020-04-05 18:47</span>
                                <a href="./user/profile.html" class="author">오일권</a>
                            </div>
                            <div class="reply" title="답변여부">
                                <i class="icon-reply"></i>
                                <span class="point">미완료</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="./qna/show.html">안녕하세요. ㄱ입니다.</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">2020-04-05 07:21</span>
                                <a href="./user/profile.html" class="author">정기혁</a>
                            </div>
                            <div class="reply" title="답변여부">
                                <i class="icon-reply"></i>
                                <span class="point">완료</span>
                            </div>
                        </div>
                    </div>
                </li>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-push-12 qna-write">
                    <a href="./qna/form.html" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
{{> /include/footer}}
</footer>
</html>