<!DOCTYPE html>
<html lang="en">
<head>
    {{> /include/header}}
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<style>


</style>
<body>
{{> /include/navbar}}
<div class="container row">
    <div class="page-hearder col-md-offset-3" style="padding-bottom: 20px">
    </div>
    <!--    <div class="col-sm-offset-9">-->
    <!--        <form action="" method="get">-->
    <!--            <select name="search" id="">-->
    <!--                <option value="writer">작성자</option>-->
    <!--                <option value="content">내용</option>-->
    <!--            </select>-->
    <!--            <input type="text" name="searchkeyword" id="search">-->
    <!--            <input class="btn btn-sm btn-default" type="submit" value="검색">-->
    <!--        </form>-->
    <!--    </div>-->
    <div class="col-md-12 col-md-offset-3" style="margin-top: -80px">


        <h1 style="font-family: 'Baloo Bhai 2', cursive; ">HOTTHINK 통합검색 페이지</h1><br/>

        <table class="table table-striped ">
            <tr class="text-center">
                <th>분류</th>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            {{#list}}
            <tr>
                <td style="font-weight: bold; color: #303f9f">{{type}}</td>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{user.nick}}</td>
            </tr>
            {{/list}}
        </table>

    </div>
    <div class="col-md-offset-6">
        <ul class="pagination" style="margin-left: 160px">
            <li><a href="#" id="pre" onclick=pagingPre({{page}}) >이전</a></li>
            <li id="page1"><a href="" id="page1btn"></a></li>
            <li id="page2"><a href="?page=2" id="page2btn"></a></li>
            <li id="page3"><a href="" id="page3btn"></a></li>
            <li><a href="#" id="next" onclick=pagingNext({{page}})>다음</a></li>

        </ul>
    </div>
</div>

{{> include/think_pagination}}

<script>

    let pageTitle = {{pageTitle}};

    if(nowPage == pageSize) {
        $('#next').click(function(e) { e.preventDefault(); });
        $("#next").css({ 'pointer-events': 'none' });
    }

    if(nowPage == 1){
        $('#pre').click(function(e) { e.preventDefault(); });
        $("#pre").css({ 'pointer-events': 'none' });
    }


    for(let i=0; i<3; i++){
        btn[i].click(function () {
            window.location.href = "/read/post/qna/list?page=" + btn[i].text() + "&title=" +pageTitle
        })
    }

    function pagingNext(page) {
        window.location.href = "/read/post/qna/list?page=" + (page+1) + "&title=" +pageTitle;
    }

    function pagingPre(page) {
        window.location.href = "/read/post/qna/list?page=" + (page-1) + "/title=" +pageTitle;
    }

</script>

</body>
<footer>
    {{> /include/footer}}
</footer>
</html>