<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="/style/qnaList.css">

    {{> /include/header}}
</head>

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 25px 0;
        border-radius: 4px;
    }
    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #428bca;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd
    }
    .center-block {

    }

    .pagination > li {
        display: inline-block;
    }


</style>
<body>
{{> /include/navBar}}

<div class="container" id="main" style="margin : 30px 250px;  padding: 30px;  " >
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            {{#list}}
            <ul class="list">
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="/list/1">{{title}}</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time"></span>
                                <a href="./user/profile.html" class="author">{{user.nick}}</a>
                            </div>
                            <div class="reply" title="답변여부">
                                <i class="icon-reply"></i>
                                <span class="point">완료</span>
                            </div>
                        </div>
                    </div>
                </li>

                </li>
            </ul>
            {{/list}}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination" style="font-size:20px;" style="display:inline-block;" >
                        <li><a href="#" id="pre" onclick=pagingPre({{page}})>«</a></li>
                        <li><a href="#" id="next" onclick=pagingNext({{page}})>»</a></li>
                    </ul>
                </div>
                <div class="col-md-push-12 qna-write">
                    <a href="/create/post/qna" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var nowPage = {{page}}
    var pageSize = {{size}}

    if(nowPage == pageSize) {
        $('#next').click(function(e) { e.preventDefault(); });
        $("#next").css({ 'pointer-events': 'none' });
    }

    if(nowPage == 1){
        $('#pre').click(function(e) { e.preventDefault(); });
        $("#pre").css({ 'pointer-events': 'none' });
    }

    // if({{hasPre}}) { //hasPre가 true이면 , 즉 현재 페이지가 1보다 크다면?
    //     //
    // }else{
    // }
    //
    // if({{hasNext}}){
    //     $('#next').removeAttr("disabled");
    // }else {
    //     $('next').attr("disabled","disabled");
    // }


    var page = [$("#page1"), $("#page2") , $("#page3")];
    var btn = [$("#page1btn"), $("#page2btn"), $("#page3btn")];

    if(nowPage===1) {
        page[0].addClass("active");
        page[1].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(1);
        btn[1].text(2);
        btn[2].text(3);
    }else if(nowPage===pageSize){
        page[1].addClass("active");
        page[0].removeClass("active");
        page[2].removeClass("active");
        btn[0].text(nowPage-1);
        btn[1].text(nowPage);
        btn[2].text(nowPage+1);
    }else{
        page[2].addClass("active");
        page[1].removeClass("active");
        page[0].removeClass("active");
        btn[0].text(nowPage-2);
        btn[1].text(nowPage-1);
        btn[2].text(nowPage);
    }

    if(pageSize===1){
        page[1].remove();
        page[2].remove();
    }else if(pageSize===2){
        page[2].remove();
    }else if(pageSize===0){
        $('.pagination').remove()
    }

    for(let i=0; i<3; i++){
        btn[i].click(function () {
            window.location.href = "/read/post/qna/list?page=" + btn[i].text()
        })
    }



    function pagingNext(page) {
        window.location.href = "/read/post/qna/list?page=" + (page+1);
    }

    function pagingPre(page) {
        window.location.href = "/read/post/qna/list?page=" + (page-1);
    }

</script>

</body>
<footer>
{{> /include/footer}}
</footer>
</html>